<!DOCTYPE html>
<html>
<head>
<title>运费数据表</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.customerType" @keyup.enter="query" placeholder="客户类型">
			</div>
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.warehouseName" @keyup.enter="query" placeholder="发货仓名称">
			</div>
			<a class="btn btn-default" @click="query">查询</a>


			<#if shiro.hasPermission("freight:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("freight:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<!--<#if shiro.hasPermission("freight:delete")>-->
            <!--<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
			<!--</#if>-->
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">请求ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="freight.requestId" placeholder="请求ID" readonly/>
			    </div>
			</div>

			<div class="form-group">
			   	<div class="col-sm-2 control-label">客户类型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="freight.customerType" placeholder="客户类型" readonly/>
			    </div>
			</div>

			<div class="form-group">
			   	<div class="col-sm-2 control-label">发货仓库名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="freight.warehouseName" placeholder="发货仓库名称" readonly/>
			    </div>
			</div>

			<div class="form-group">
			   	<div class="col-sm-2 control-label">系统计算运费</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="freight.expectFee" placeholder="系统计算运费" readonly/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">实际运费</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="freight.actualFee" placeholder="实际运费"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/freight/order.js?_${.now?long}"></script>
</body>
</html>